video {
  display: none;
  border: 1px solid yellow; }

#back-canvas {
  z-index: 150;
  border: 1px solid red; }

#pieces-canvas {
  width: 642px;
  height: 360px; }
  #pieces-canvas canvas {
    float: left;
    position: absolute;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue; }
