video{
  	//overflow: hidden;
  	//width:0px;
  	//height:0px;
  	display: none;
	border: 1px solid yellow;
}

#back-canvas{
    //position: absolute;
    z-index: 150; 
    // Source canvas must mirror video dimensions
    //width: 854px;
    //height: 480px;
    border: 1px solid red;
    //display: none;
}

#pieces-canvas{
   	//border: 1px solid green;
	//TODO: Make width 640. 2px added for debug border
	width: 642px;
	height: 360px;
  canvas{
    float: left;
    position: absolute;
    border-right: 1px solid blue;
	border-bottom: 1px solid blue;
    }
}