video {
  overflow: hidden;
  border: 1px solid yellow; }

#back-canvas {
  z-index: 150;
  border: 1px solid red; }

#pieces-canvas {
  border: 1px solid green; }
  #pieces-canvas canvas {
    border: 1px solid blue; }
