video{
  display: none;
}

#back-canvas{
    z-index: 150; 
    display: none;
}

#pieces-canvas{
	width: 640px;
	height: 360px;
  canvas{
    float: left;
    position: absolute;
  }
}

#game-status{  
  text-align: center;
  span{
    font-size: 35px;
  }
  &.win{
    color: green;
  }
  &.lose{
    color: red;
  }
}

#instructions{
  text-align: center;
  span{
    font-size: 40px;
  }
}