video {
  display: none; }

#back-canvas {
  z-index: 150;
  display: none; }

#pieces-canvas {
  width: 642px;
  height: 360px; }
  #pieces-canvas canvas {
    float: left;
    position: absolute; }

#game-status {
  text-align: center; }
  #game-status span {
    font-size: 35px; }
  #game-status.win {
    color: green; }
  #game-status.lose {
    color: red; }

#instructions {
  text-align: center; }
  #instructions span {
    font-size: 40px; }
