!!! 5
%html
	%head
		%title HTML5 Video Puzzle
		%link{:rel =>"stylesheet", :type =>"text/css", :href =>"css/puzzle.css.css"}
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"}		
		%script{:src => "scripts/underscore-min.js"}
		%script{:src => "scripts/puzzle.js.js"}
	%body
		#instructions
			%span Drag the pieces and reassemble the video to win!
		%video{:id=> "player"}
			%source{:src => "assets/OldSpice.mp4", :type => "video/mp4"}/
			%source{:src => "assets/OldSpice.ogv", :type => "video/ogg"}/
		
		-# Renders each frame of the video playing through the video element
		%canvas{:id => "back-canvas", :width => "640", :height => "360"}
		-# Subcanvases that render portions of the video playing on the back-canvas
		#pieces-canvas
		-# Used for notifying the player of Game Win or Game Over
		#game-status