!!! 5
%html
	%head
		%title HTML5 Video Puzzle
		%link{:rel =>"stylesheet", :type =>"text/css", :href =>"css/puzzle.css.css"}
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
		%script{:src => "puzzle.js.js"}
	%body
		%video{:id=> "player"}
			%source{:src => "assets/OldSpice.mp4", :type => "video/mp4"}/
			%source{:src => "assets/OldSpice.ogv", :type => "video/ogg"}/
		%canvas{:id => "back-canvas", :width => "640", :height => "360"}
		#pieces-canvas{:width => "640", :height => "360"}
